# Exclude every file & folder
*

# Include config files & wallpapers 
!.config/waybar
!.config/starship.toml
!.config/rofi
!.config/kitty
!.config/hypr
.config/hypr/scripts/currentwallpaper.txt
!.config/fastfetch
!.config/dunst
!Pictures/Wallpapers