.cache
.clap
.discord-rpc
.gnupg
.gradle
.java
.ladspa
.local
.lv2
.minecraft
.mozilla
.nv
.pki
.ssh
.steam
.var
.vscode-oss
.vst
.vst3
Desktop
Documents
Downloads
Pictures/Screenshots
Music
Public
Templates
Videos
.bash_history
.bash_logout
.bash_profile
.bashrc
.gtkrc-2.0
.steampath
.steampid
.xprofile
.zcompdump
*.mp4
*.mkv

.config/hypr/scripts/currentwallpaper.txt
.config/autostart
.config/Bitwarden
.config/btop
.config/Code - OSS
.config/dconf
.config/easyeffects
.config/go
.config/gtk-3.0
.config/gtk-4.0
.config/nwg-look
.config/obs-studio
.config/pulse
.config/simple-update-notifier
.config/spicetify
.config/spotify
.config/systemd
.config/vesktop
.config/Thunar
.config/Windscribe
.config/xfce4
.config/xsettingsd
.config/yay
.config/mimeapps.list
.config/pavucontrol.ini
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
